body{
    margin: 0;
    background: url('../img/stars.png') black;
    color: #f0f7ee;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #454955;
}

#container{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 150px 1fr 60px;
    width: 100vw;
    height: 100vh;
}

header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 1 / 4;
    grid-row-start: 1;
    background: black;
    padding: 10px;
    border-bottom: 1px solid #343434;
}

#catchphrase {
    grid-column: 2 / span 3;
    text-align: center;
}

#catchphrase h1 {
    margin: 10px;
    font-size: 4em;
}

#catchphrase h2 {
    margin: 10px;
    font-size: 1em;
}

footer {
    grid-column: 1 / 4;
    padding: 10px;
    background: black;
    border-top: 1px solid #343434;
    color: #999999;
    text-align: center;
    font-size: 0.7em;
}

footer a {
    color: #999999;
}

footer a:hover {
    color: #CCCCCC;
}

#author a:hover {
    text-decoration: underline;
}

#social_links {
    margin: 0;
    padding: 2px;
}

#social_links li {
    display: inline;
    padding: 10px;
    font-size: 2em;
}

#content {
    display: grid;
    grid-template-rows: 1fr 50px;
    grid-gap: 20px;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-x: auto;
}

#feed{
    margin: 0;
    padding: 0;
    grid-row: 1;
    overflow-x: auto;
    background: black;
    border: 1px solid #343434;
    border-radius: 15px;
    -webkit-overflow-scrolling: touch;
}

#feed > div {
    margin: 20px;
    display: flex;
    flex-flow: column;
}

.post {
    margin-bottom: 20px;
    padding: 10px;
    max-width: 45%;
    border-radius: 15px;
}

#feed > div > :last-child {
    margin-bottom: 0;
}

.post p{
    margin: 0;
}

.post.sent {
    align-self: flex-end;
    background: #454955;
    border: 2px solid #666c7f;
}

.post.incoming {
    align-self: flex-start;
    background: #7cb342;
    border: 2px solid #56990f;
}

#writing {
    grid-row: 2;
}

#writing form {
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-gap: 10px;
}
#writing #message {
    display: block;
    grid-column: 1;
    padding: 5px;
    background: black;
    border: 1px solid #343434;
    border-radius: 15px;
    color: #f0f7ee;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    resize: none;
}
#writing #submit {
    display: block;
    grid-column: 2;
    background: #52489c;
    border: 1px solid #2c1e99;
    border-radius: 5px;
    color: #f0f7ee;
    font-size: 1em;
    -webkit-appearance: none;
}

@media screen and (max-width: 700px){
    #container {
	grid-template-columns: 5px 1fr 5px;
	grid-template-rows: 150px 1fr 50px;
    }

    footer {
	padding: 8px;
	font-size: 0.5em;
    }

    #catchphrase {
	grid-columns: 2 / span 3;
    }

    #catchphrase h1{
	font-size: 3em;
    }

    #feed {
	padding: 10px;
    }

    #social_links {
	padding: 2px;
    }
}
