body{
    margin: 0;
    background: url('../img/stars.png')black;
    color: #f0f7ee;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #454955;
}

#container{
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 50px 1fr 50px;
    width: 100vw;
    height: 100vh;
}

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / 4;
    grid-row-start: 1;
    background: black;
    padding: 10px;
    border-bottom: 1px solid #343434;
}

#catchphrase {
    text-align: center;
}

#catchphrase h1 {
    margin: 10px;
    font-size: 4em;
}

#catchphrase h2 {
    margin: 10px;
    font-size: 1em;
}

footer {
    grid-column: 1 / 4;
    padding: 10px;
    background: black;
    border-top: 1px solid #343434;
    color: #999999;
    text-align: center;
    font-size: 1em;
}

footer a {
    color: #999999;
}

footer a:hover {
    color: #CCCCCC;
}

#author a:hover {
    text-decoration: underline;
}

#social_links {
    margin: 0;
    padding: 10px;
}

#social_links li {
    display: inline;
    padding: 10px;
    font-size: 2em;
}

#content {
    display: grid;
    grid-template-rows: 1fr 50px;
    grid-gap: 20px;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

#feed{
    display: flex;
    flex-flow: column;
    padding: 10px;
    grid-row: 1;
}

.message {
    margin-bottom: 20px;
    padding: 10px;
    width: 40%;
    max-width: 500px;
    border-radius: 15px;
}

.message p{
    margin: 0;
}

#feed .sent {
    align-self: end;
    background: #454955;
    text-align: right;
}

#feed .incoming {
    align-self: start;
    background: #56e39f;
}

#writing{
    grid-row: 2;
}
