/* General properties */
body{
    margin: 0;
    background: url('../img/stars.png') black;
    color: #f0f7ee;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #454955;
}

/* Main container for the app */
#container{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 100px auto 60px;
    height: 100vh;
}

/* Header properties (logo + catchphrase) */
header{
    display: grid;
    grid-template-columns: 85px auto 5%;
    align-items: center;
    grid-column: 1 / 4;
    grid-row-start: 1;
    background: black;
    border-bottom: 1px solid #343434;
}

#logo img {
    width: 80px;
}

#catchphrase {
    grid-column: 2;
    text-align: center;
}

#catchphrase h1 {
    margin: 0px;
    font-size: 2em;
}

#catchphrase h2 {
    margin: 0px;
    font-size: 1em;
}

/* Properties for footer */
footer {
    display: grid;
    align-items: center;
    grid-column: 1 / 4;
    background: black;
    border-top: 1px solid #343434;
    color: #999999;
    text-align: center;
    font-size: 12px;
}

footer a {
    color: #999999;
}

footer a:hover {
    color: #CCCCCC;
}

#author {
    margin: 0;
    padding: 0;
}

#author a:hover {
    text-decoration: underline;
}

#social_links {
    margin: 0;
    padding: 0;
}

#social_links li {
    display: inline;
    font-size: 2em;
    margin-right: 10px;
}

#social_links li:last-of-type {
    margin: 0;
}

/* Content of the app */
#content {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 1fr 50px;
    grid-gap: 10px;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    overflow-x: auto;
}

/* Discussion feed beetween the user and the bot */
#feed, #http_error {
    margin: 0;
    grid-row: 1;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

#feed{
    background: black;
    border: 1px solid #343434;
    border-radius: 15px;
}

/* Div hack for getting a 20px margin beetweens messages and fedd border */
#feed > div {
    margin: 20px;
    display: flex;
    flex-flow: column;
}

.post {
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 70%;
    border-radius: 15px;
    white-space: pre-line;
    font-size: 14px;
}

/* Erase the margin for the last post */
#feed > div > :last-child {
    margin: 0;
}

.post p{
    margin: 0;
}

.post.sent {
    align-self: flex-end;
    background: #454955;
    border: 2px solid #666c7f;
}

.post.incoming {
    align-self: flex-start;
    background: #7cb342;
    border: 2px solid #56990f;
}

.post.hidden {
    display: none;
}

.map {
    width: 100%;
    height: 100px;
}

#waiting {
    white-space: normal;
    height: 30px;
}

#waiting img {
    height: 30px;
}
/* Form for sending messages to the bot */
#writing {
    grid-row: 2;
}

#writing form {
    display: grid;
    grid-template-columns: 1fr 80px;
    column-gap: 10px;
}

#writing #message {
    padding: 5px;
    padding-left: 15px;
    display: block;
    grid-column: 1;
    background: black;
    border: 1px solid #343434;
    border-radius: 15px;
    color: #f0f7ee;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    resize: none;
}

#writing #submit {
    -webkit-appearance: none;
    display: block;
    margin: 0;
    grid-column: 2;
    background: #52489c;
    border: 1px solid #2c1e99;
    border-radius: 5px;
    color: #f0f7ee;
    font-size: 14px;
}

#http_error {
    display: flex;
    flex-flow: column;
    justify-content:center;
    text-align: center;
}

#http_error > div {
    font-size: 6em;
}

#http_error a {
    font-size: 1.5em;
    color: #f0f7ee;
}

#http_error a:hover {
    text-decoration: underline;
    color: #f0f7ee;
}

/* Media for smartphones */
@media screen and (max-width: 700px){
/* Adjust the grid for the container (reduce margin on left and right) */
#container {
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 85px 1fr 60px;
}

header {
    grid-template-columns: 75px auto 5px;
}

#logo img {
    width: 70px;
}
#catchphrase h1{
    font-size: 1.5em;
}

#catchphrase h2 {
    font-size: 1em;
}

#feed > div {
    margin: 10px;
}

#http_error > div {
    font-size: 2em;
}

#http_error a {
    font-size: 0.8em;
}
}
