{% extends 'base.html' %}

{% block content %}
<div id="content">
    <div id="feed">
        <div>
            <p id="waiting" class="post incoming hidden">
                <img src="{{ url_for('static', filename='img/loader.svg') }}" alt="loader" />
            </p>
        </div>
    </div>
    <div id="writing">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.message() }}
            {{ form.submit() }}
        </form>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
